*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
html,body{
    height: 100%;
}
body{
    font-size: 12px;
    line-height: 1.2;
    background: #fff;
    position: relative;
}
main,
#top250{
    height: calc(100vh - 50px);
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
main >  section{
    display:none;
}
main >  section:first-child{
    display: block;
}
.item{
    border-bottom:1px solid #ccc;
    padding-bottom: 16px;
    padding-top: 10px;
}
.item>a{
    display: block;
    display: flex;
}
.item .cover,
.item .cover img{
    width:70px;
}
.item .detail{
    flex:1;
    padding-left:10px;
}
.item .detail h2{
    font-size: 16px;
}
.item .detail .extra{
    color:#999;
    margin-top:8px;
}
.item .detail .score{
    color:#ff5722;
}
.loading{
    padding:5px;
    text-align:center;
    animation: 4s rotate linear infinite;
    display:none;
}
@keyframes rotate{
    0% {transform:rotate(0deg)}
    100% {transform:rotate(360deg)}
}
#search {
    height: calc(100% - 45px);
}

section .search-area {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

section .search-area input {
    width: calc(100% - 50px);
    padding: 8px;
    background-color: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}

section .search-area .button {
    position: absolute;
    right: 0;
    padding: 8px 10px;
    background: #FF5722;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    border-top:1px solid #ccc;
    width: 100%;
    display: flex;
}
footer > div{
    flex:1;
    text-align: center;
}
footer .active{
    color: #ff7722;
}
footer > div > span{
    display: block;
    padding-top: 5px;
}